<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= htmlWebpackPlugin.options.script %>
    <title>Halocrypt - The Cryptic Hunt</title>
    <base href="/" />
    <%= htmlWebpackPlugin.options.css %>
    <link
      rel="preconnect"
      href="https://api.halocrypt.com"
      crossorigin="anonymous"
    />
    <link
      rel="preconnect"
      href="https://fonts.pycode.tk"
      crossorigin="anonymous"
    />
    <meta name="description" content="Halocrypt - 2021 Edition" />

    <script data-js="touch-intent-css-fix">
      /iPhone|iPod|iPad/.test(navigator.platform) &&
        (document.head.appendChild(document.createElement("style")).innerText =
          "*{cursor:pointer}");
    </script>
  </head>
  <body>
    <div id="app-mount">
      <noscript>Please enable JavaScript to play Halocrypt</noscript>
    </div>
    <footer sponsor-footer>
      <a
        href="https://vercel.com?utm_source=halocrypt&utm_campaign=oss"
        target="_blank"
        aria-label="Vercel"
        rel="noopener"
      >
        <img
          decoding="async"
          width="241"
          sponsor-image
          height="50"
          loading="lazy"
          alt="Image of Vercel Logo with text - Powered By Vercel"
          src="https://h2.halocrypt.com/sponsors/powered-by-vercel.svg"
        />
      </a>
      <a
        href="https://replit.com"
        target="_blank"
        aria-label="Replit"
        rel="noopener"
      >
        <img
          decoding="async"
          sponsor-image
          width="166"
          height="50"
          loading="lazy"
          alt="Image of Replit Logo"
          src="https://h2.halocrypt.com/sponsors/powered-by-replit.svg"
        />
      </a>
    </footer>
  </body>
</html>
